/* ======== HEADER STYLES ========= */ 
header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}
.header-img {
  height: 100%;
  margin-right: 6px;
}
.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}
.header-description {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center; 
  cursor: pointer;
}
.header-description:hover {
  color: #3a0f49;
}

/* ===== MEME COMPONENT STYLES ===== */
.meme-container {
  padding: 2rem;
  height: 100vh;
}
.form {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap: 10px;
}
.submit-button {
  grid-column: 1 / -1;
}
.input {
  height: 40px;
  text-align: center;
  border-radius: 7px solid;
  font-family: "Karla", sans-serif;
  width: 100%;
}
.submit-button {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  border: none; 
  color: #fff;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

/* ===== MEME IMAGE STYLES ===== */ 
.meme-div {
  margin-top: 2rem;
  /* padding: 2rem; */
  /* height: 70vh; */
  /* margin: 0 auto; */
  position: relative;
} 
.meme-url {
  width: 100%;  
  border-radius: 3px;
}
.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}

/* ===== INSTRUCTIONS PAGE ===== */ 
.instructions-container {
  text-align: center;
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.5rem;
}

/* ======= FOOTER STYLES ===== */ 
footer { 
  width: 100%; 
  color: white; 
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  top: 0; 
  bottom: 0;
}